@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gradient-to-br from-nutrition-blue via-nutrition-teal to-nutrition-darkBlue;
  @apply antialiased;
}