.App {
  background-color: #282c34;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.App-header {
  max-width: max-content;
  align-items: top;
  justify-content: center;
}
